
<form name="form1" method="POST" action="/fund/new">
  <table>
    <tr>
      <td>Fund name</td>
      <td><input type="text" name="title" ></td>
    </tr>
    <tr>
      <td>Goal Amount</td>
      <td><input type="text" name="goal" ></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Save" ></td>
    </tr>
  </table>
</form>
